services:
    db:
        image: postgres:16.3-alpine
        ports:
            - "5432:5432"
        volumes:
            - ./backend/postgres_data:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: root
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
    fastapi-python:
        build: 
            context: ./backend
            dockerfile: Dockerfile
        ports:
            - 8000:8000
        environment:
            - DATABASE_HOST=db
            - DATABASE_PORT=5432
            - DATABASE_NAME=postgres
            - DATABASE_USER=postgres
            - DATABASE_PASSWORD=root
            - SECRET_KEY
        volumes:
            - ./backend/static:/home/api/static
        depends_on:
            db:
                condition: service_healthy
    frontend-vue:
        build: 
            context: ./frontend
            dockerfile: Dockerfile
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/www:/var/www/certbot
        environment:
            - DOMAIN
        depends_on:
            - fastapi-python
        restart: unless-stopped
    
    certbot:
        image: certbot/certbot
        restart: unless-stopped
        volumes:
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/www:/var/www/certbot
        environment:
            - DOMAIN
            - EMAIL
        # Check for renewal twice daily
        entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew --quiet && echo \"Certificate renewal checked at $$(date)\"; sleep 12h & wait $${!}; done;'"
        depends_on:
            - frontend-vue
