name: Deploy to Server (FIIT protocol-designer.app)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: SSH to server and update services
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        port: ${{ secrets.SERVER_PORT }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd /home/${{ secrets.SERVER_USER }}/protocol-designer
          git pull
          cd backend
          sudo chown -R ${{ secrets.SERVER_USER }}:${{ secrets.SERVER_USER }} postgres_data
          cd ..
          docker compose build
          docker compose down
          docker compose up -d --remove-orphans
          docker image prune -af
